/* همه عناصر و شبه‌عناصر اندازه‌ها را شامل padding و border می‌کنند */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background: #fff;
  padding: 50px 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  width: 350px;
  max-width: 90%;
  text-align: center;
  position: relative;
}

.login-container h1 {
  font-weight: 700;
  color: #3B0270;
  margin-bottom: 30px;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}

.form-group input {
  width: 100%;
  padding: 12px 12px 12px 12px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: all 0.3s;
}


.form-group input:focus {
  border-color: #5503a2;
  box-shadow: 0 0 5px rgba(85,3,162,0.5);
}

.form-group label {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #aaa;
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: #5503a2;
  background: #fff;
  padding: 0 5px;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

.error-message {
  display: block;
  color: red;
  font-size: 12px;
  margin-top: 3px;
  height: 14px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #3B0270, #5503a2);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(85,3,162,0.4);
}



